<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/contactUsList.css" />
</th:block>

<div layout:fragment="content">
	<div id="top">
		<div class="container-xxl">
			<div class="row top-menu-line">
				<div class="col-lg-12 top-menu">
					<div>
						<a class="top-main" href="/">자연에 빠지다</a>
						<span class="mx-2 mb-0">/</span> 
						<strong class="text-black">제휴문의</strong>
					</div>
				</div>
			</div>
		</div>
	
		<div id="title">
			<h1>Contact Us</h1>
			<div class="titleBox">&nbsp;</div>
		</div>
	
		<div class="row">
			<div class="container table-flex">
				<div class="col-1"></div>
				<div class="col-10">
					<form th:if="${not #lists.isEmpty(contactUsList)}" th:action="@{'/camping/contact/' + ${contactUsList.number}}" method="get" th:object="${contactUsList}">
						<table class="table table-responsive-md">
							<thead>
								<th scope="col">No.</th>
								<th scope="col">제목</th>
								<th scope="col">답변상태</th>
								<th scope="col">등록일</th>
								<th scope="col">등록자</th>
							</thead>
							<tbody>
								<tr th:each="contactUs, status : ${contactUsList}">
									<th th:text="${contactUs.id}" scope="row"></th>
									<td>
										<a th:href="'camping/contact/detail/' + ${contactUs.id}"
										th:text="${contactUs.campingName}"></a>
									</td>
									<td th:text="${contactUs.contactStatus.krName}"></td>
									<td th:text="${#temporals.format(contactUs.regTime, 'yyyy-MM-dd')}"></td>
									<td th:text="${contactUs.createBy}"></td>
								</tr>
							</tbody>
						</table>
						 
						<!--검색--> 
						<div class="row search" th:object="${contactSearchDto}" style="height:40px;">
							<div class="col-lg-1"></div>
							<div class="col-lg-10 select" style="display:flex;">
								<!-- 답변상태 -->
								<select th:field="*{searchContactStatus}" class="form-control siteSellStatus col-3 mr-2">
									<option value="">답변상태</option>
									<option value="SELL">답변대기중</option>
									<option value="SOLD_OUT">답변완료</option>
								</select>
								
								<!-- 캠핑장명, 등록자 선택 --> 
								<select th:field="*{searchBy}" class="form-control camping_address col-4">
									<option value="">검색선택</option>
									<option value="campingName">캠핑장명</option>
									<option value="createBy">등록자</option>
								</select>	
								<div style="display:flex;" class="col-5">
									<input type="text" class="form-control col-9 mr-2" 
											th:field="*{searchQuery}" placeholder="검색어 입력">
									<button id="searchBtn" type="submit" class="btn btn-primary search-btn mb-3 col-3">검색</button>							
								</div>
							</div>
							<div class="col-lg-1"></div>
						</div>

						<!-- 페이징 -->
						<nav th:with="start=${(contactUsList.number / maxPage) * maxPage + 1}, 
										  end = (${ ((contactUsList.totalPages == 0)) ? 1 :
										  		(start + (maxPage -1) < contactUsList.totalPages ?
										  			  start + (maxPage - 1) : contactUsList.totalPages)})" 						
								aria-label="...">
							  <ul class="pagination d-flex justify-content-center">
							  
							    <li class="page-item" th:classappend="${contactUsList.first} ? 'disabled'">
							      	<a class="page-link"
							      	   th:onclick="'javascript:page(' + ${contactUsList.number - 1} + ')'">◀</a>   
							    </li>
							    
							    <li class="page-item"
							    	th:each="page: ${#numbers.sequence(start, end)}"   
							    	th:classappend="${contactUsList.number eq page -1} ? 'active' : '' " >
							    	<a class="page-link" th:inline="text"
							    		th:onclick="'javascript:page(' + ${page - 1} + ')'">
							    		[[${page}]]
							    		</a>   
							    	</li>
							    
							    <li class="page-item" th:classappend="${contactUsList.last} ? 'disabled'">
							   		<a class="page-link"
							      	   th:onclick="'javascript:page(' + ${contactUsList.number + 1} + ')'">▶</a>    
							    </li>
							    
							  </ul>
							</nav>
						
					</form>					
				</div>
				<div class="col-1"></div>
				
			</div>
			
			
		</div>
	
	</div>
	

</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	
	$(document).ready(function(){
			$("#searchBtn").on("click", function(e){
				e.preventDefault();  //submit 되는걸 방지
				page(0);  //검색버튼 누르면 0페이지로 오게함
			});			
		});
	
		function page(page){
			
			location.href = "/admin/camping/contact" + page
		}
	
	</script>
</th:block>
</html>