@charset "UTF-8";

a {
	cursor: hand;
	color: #000;
	text-decoration: none;
	font-size: 15px;	
}

#member{
	width:100%;
	margin: 30px auto;
	text-align: left;
	font-size: 20px;
	font-family: 맑은고딕;
}

.top-menu-line{
	height : 60px;
	line-height:60px;
	background-color: #000;
}

.top-menu {
	width:1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	color: #fff;
	font-size: 15px;
}

.top-menu div{
	width: 1200px;
	display: flex;
	justify-content: flex-start;
}

.top-main{
	color: #fff;
	font-size: 15px;
}

.top-main:hover{
	text-decoration: none;
	color: #fff;
}

.text-black{
	color:#ED6D1A; 
}

#title{
	text-align: center;
	margin: 100px auto;
}

#title h1 {
	font-family: 맑은고딕;
	font-weight: bolder;	
}

.titleBox{
	 width: 80px;
	 height: 8px;
	 background-color: #ED6D1A;
	 margin: 20px auto;
}