@charset "UTF-8";

a {
	cursor: hand;
	color: #000;
	text-decoration: none;
	font-size: 15px;	
}

#member{
	width:100%;
	margin: 30px auto;
	text-align: left;
	font-size: 20px;
	font-family: 맑은고딕;
}

.top-menu-line{
	height : 60px;
	line-height:60px;
	background-color: #000;
}

.top-menu {
	width:1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	color: #fff;
	font-size: 15px;
}

.top-menu div{
	width: 1200px;
	display: flex;
	justify-content: flex-start;
}

.top-main{
	color: #fff;
	font-size: 15px;
}

.top-main:hover{
	text-decoration: none;
	color: #fff;
}

#text-black-color {
	height: 60px;
	line-height: 60px;
	color: #ED6D1A;
	margin-left: 10px;
}

#title{
	text-align: center;
	margin: 100px auto;
}

#title h1 {
	font-family: 맑은고딕;
	font-weight: bolder;	
}

.titleBox{
	 width: 80px;
	 height: 8px;
	 background-color: #ED6D1A;
	 margin: 20px auto;
}

.form-group {
	border-bottom: 1px solid #eee;
}

.dropdown {
	border-bottom: none;
	display: flex;
	margin-bottom: 20px;
}

#siteSellStatus{
	height : 40px;
	width: 120px;
	margin: 10px 0;
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
}

.dropdown p {
	height : 60px;
	line-height: 60px;	
}

.form-group div{
	display: flex;
}

.form-group div label{
	padding: 0;
	margin: 0;
}

.form-group div input{
	margin: 0;
	display: flex;
	background-color: #eee;
	height: 40px;
	line-height: 40px; 
}

.form-group select {	
	border-radius: 5px;
}

.fieldError {
	display: flex;	
}

#campingName {
	border-radius: 5px;
	background-color: #eee;
	border: 1px solid #ced4da;
	color: #6c757d;	
	height : 40px;
	width: 120px;
}

.peak-off-Season{
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.peak-off-Season select{
	background-color: #eee;
	border: 1px solid #ced4da;
	color: #6c757d;
}

.peakSeason{
	width: 50%;
	border-bottom: none;	
}

.peakSeason .col-md-12{
	padding: 0;	
}

.peakSeason .col-md-12 input {
	margin-left: 5px;
}

.offSeason{
	width: 50%;
	border-bottom: none;	
}

.offSeason .col-md-12{
	padding: 0;	
}

.refund {
	display: flex;
	align-items: center;
}

.refund-content{
	height: 80px;
	padding: 0; 
	margin: 0;
}


.refund-content div:nth-child(1){
	margin-left: 0;
}

.refund-content .refundbox{
	width: calc(100% / 5);
	height: 80px;
	margin: 0;
	margin-left: 10px;
}

.refundbox label {
	height: 40px;
	margin: 0;
}

.refundbox input {
	height: 40px;
	margin: 0;
}

.refund-error{
	height: 20px;
	margin-bottom: 16px;
}

.roomType_view {
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.roomType_view select{
	background-color: #eee;
	border: 1px solid #ced4da;
	color: #6c757d;
}

.roomType{
	width: 50%;
	border-bottom: none;	
}

.roomType .col-md-12{
	padding: 0;	
}

.roomType select {
	margin-left: 5px;
	padding-left: 12px;
}

.roomView{
	width: 50%;
	border-bottom: none;	
}

.roomView .col-md-12{
	padding: 0;	
}

.border-none{
	border-bottom: none;
}

.checkIn_out{
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.checkIn_out select{
	background-color: #eee;
	border: 1px solid #ced4da;
	color: #6c757d;
}

.checkIn{
	width: 50%;
	border-bottom: none;	
}

.checkIn .col-md-12{
	padding: 0;	
}

.checkIn .col-md-12 input {
	margin-left: 5px;
}

.checkOut{
	width: 50%;
	border-bottom: none;	
}

.checkOut .col-md-12{
	padding: 0;	
}

.text-black{
	color:#000; 
	height: 40px;
	line-height: 40px;
}

.imgbox{
	margin: 10px 0;
}

.imgbox input {
	height: 45px;
}

.submit{
	border: none;
}

.btn {
	background-color: #ED6D1A;
	color: #fff;
	border: none;
	margin-top: 20px;
}

.btn:hover {
	background-color: #ED6D1A;
	opacity: 0.8;
}

.btn:active {
	background-color: #ED6D1A;
	color: #fff;
	border: none;
}

.btn:visited{
	background-color: #ED6D1A;
	color: #fff;
	border: none;
}