@charset "UTF-8";

a {
	cursor: hand;
	color: #000;
	text-decoration: none;
	font-size: 15px;	
}

#member{
	width:100%;
	margin: 30px auto;
	text-align: left;
	font-size: 20px;
	font-family: 맑은고딕;
}

.top-menu-line{
	height : 60px;
	line-height:60px;
	background-color: #000;
}

.top-menu {
	width:1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	color: #fff;
	font-size: 15px;
}

.top-menu div{
	width: 1200px;
	display: flex;
	justify-content: flex-start;
}

.top-main{
	color: #fff;
	font-size: 15px;
}

.top-main:hover{
	text-decoration: none;
	color: #fff;
}

.text-black{
	color:#ED6D1A; 
}

#title{
	text-align: center;
	margin: 100px auto;
}

#title h1 {
	font-family: 맑은고딕;
	font-weight: bolder;	
}

.titleBox{
	 width: 80px;
	 height: 8px;
	 background-color: #ED6D1A;
	 margin: 20px auto;
}

.hist-box {
	margin-top: 30px;
	margin-bottom: 30px;
}

.rvItem-wrap {
	height: 350px;
	border: 1px solid #ddd;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.rvItem-detail {
	margin-left: 20px;
	padding: 10px;
}

.rvoption{
	padding-top: 10px;
}

.reservation-cancel{
	clear: both;
}

.repImgDiv {
	width: 400px;
	overflow: hidden;
}

.repImg {
	width: 400px;
}

.rvCancel-btn{
	margin-top: 20px;
	background-color: #ED6D1A;
	color: #fff;
	font-weight: bold;
	border: 0;
}

.rvCancel-btn:active {
	background-color: #fff !important;
	color: #ED6D1A !important;
	border: 1px solid #aaa !important;
	font-weight: bold !important;
	outline: none !important;
	box-shadow: none !important;
}

.rvCancel-btn:hover{
	background-color: #fff;
	color: #ED6D1A;
	font-weight: bold;
	border: 1px solid #aaa;
}

.delete-btn {
	margin-top: 20px;
	background-color: #ED6D1A;
	color: #fff;
	font-weight: bold;
	border: 0;
}

.delete-btn:hover {
	background-color: #fff;
	color: #ED6D1A;
	font-weight: bold;
	border: 1px solid #aaa;
}

.delete-btn:active,
.delete-btn:focus {
	background-color: #fff !important;
	color: #ED6D1A !important;
	border: 1px solid #aaa !important;
	font-weight: bold !important;
	outline: none !important;
	box-shadow: none !important;
}

.page{
	margin-top: 50px;
	margin-bottom: 50px;
}

.pagination .page-item.active .page-number{
	background-color: #ED6D1A;
	color: #fff;
	border: none;
}