<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<footer class="footer_section" th:fragment="footer" style="background-color: #ED6D1A; margin-top: 0;">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-4 footer-col">
	          <div class="footer_contact">
	            <h4  style="font-family: 'Gugi', cursive;">
	              Contact Us
	            </h4>
	            <div class="contact_link_box">
	              <a href="#">
	                <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
	                <span>
	                  Location
	                </span>
	              </a>
	              <a href="#">
	                <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
	                <span>
	                  Call +01 1234567890
	                </span>
	              </a>
	              <a href="http://www.instagram.com/bbo87_workout">
	                <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
	                <span>    
	                  @bbo87_workout
	                </span>
	              </a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-4 footer-col">
	          <div class="footer_detail">
	            <a href="" class="footer-logo" style="font-family: 'Gugi', cursive;">
	              자연에빠지다
	            </a>
	            <p   style="color: #fff;">
	              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
	            </p>
	          </div>
	        </div>
	        <div class="col-md-4 footer-col">
	          <h4  style="font-family: 'Gugi', cursive;">
	            Q & A time
	          </h4>
	          <p style="color: #fff;">
	            Mon - Fri
	          </p>
	          <p  style="color: #fff;">
	            10 : 00 - 17 : 00
	          </p>
	        </div>
	      </div>
	      <div class="footer-info">
	        <p>
	          &copy; <span id="displayYear"></span> All Rights Reserved By
	          <a href="https://html.design/">Free Html Templates</a><br><br>
	          &copy; <span id="displayYear"></span> Distributed By
	          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
	        </p>
	      </div>
	    </div>
	</footer>

</html>